<div >
    <!-- Contenedor para la sombra y el contenido -->
    <div class="relative inline-block">
        <!-- Sombra -->
        <span class="absolute inset-0  bg-blue-500/70 rounded-full blur pointer-events-none"></span>

        <!-- Contenido -->
        <div class="z-1 relative text-xs font-medium text-blue-100 text-nowrap inline-flex gap-1 me-2 px-2.5 py-0.5 bg-blue-700 rounded-full items-center h-[28px]">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="Robloxstudio--Streamline-Simple-Icons" height="17" width="17">
                <desc>Robloxstudio Streamline Icon: https://streamlinehq.com</desc>
                <title>Roblox Studio</title>
                <path d="m13.936 15.356 -12.11 -3.244L0 18.93 18.928 24l2.68 -9.99 -6.818 -1.83 -0.854 3.176ZM5.072 0 2.394 9.992l6.816 1.83 0.854 -3.178 12.11 3.246L24 5.072 5.072 0Z" fill="currentColor" stroke-width="1"></path>
            </svg>
            <span>Luau</span>
            
        </div>
    </div>
</div>
