---
import Layout from "../layouts/layout.astro"	
import Hero from "../components/hero.astro"
import Header from "../components/Header.astro"
import HighlightProject from "../components/highlight_project.astro"
import Projects from "../components/projects.astro"
---

<Layout>
	<Header/>
	<Hero/>
	<Projects/>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum reprehenderit iure quo aut cum, asperiores nulla dolore alias hic quod aliquam ipsam vel facere autem debitis minus minima excepturi.</p>
</Layout>