---
import { Image } from "astro:assets";
---

<header class="flex justify-center z-[50] fixed top-0 backdrop-blur-xl w-[100vw] dark:bg-black/25 bg-black/5">
    <div id="header" class="h-16 opacity-100 flex items-center gap-12 p-2 justify-between">
        <h3 class="font-extrabold text-primary-light dark:text-primary-dark text-base">Sparkiy</h3>
        <ul class="flex gap-4">
            <li class=" dark:hover:text-secondary-dark hover:text-secondary-light"><a href="/">home</a></li>
            <li class=" dark:hover:text-secondary-dark hover:text-secondary-light"><a href="/projects">projects</a></li>
            <li class=" dark:hover:text-secondary-dark hover:text-secondary-light"><a href="/contact">contact</a></li>
        </ul>
        <button class="material-symbols-rounded notranslate hover-transform hover:scale-[110%]" id="theme-toggle">light_mode</button>
    </div>
</header>

<style>
    h6{
        @apply text-white/80 
    }
    .hover-transform {
        transition: transform 100ms ease;
    }
</style>

<script src="../scripts/themeToggle.js"></script>