---
const {title} = Astro.props
import { Image } from 'astro:assets';
import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
    <body class="bg-neutral-950">
        <div class="fixed inset-0 -z-5 h-full w-full bg-transparent bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"></div>
        <div class="absolute top-0 z-[-10] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
        <div id="cont" class="p-16 flex justify-center items-center w-full flex-col">
            <slot />
        </div>
    </body>
</html>





<style is:global>
    html {
        @apply font-onest text-white/90 select-none
    }
    body > h1 {
        position: sticky;
    }

    body {
        overflow-x: hidden;
    }
</style>

<script>
    const body = document.body;

    body.addEventListener("scroll", function () {
        console.log("reseted!")
        if (body.scrollLeft !== 0) {
        body.scrollLeft = 0;
        }
    });
</script>